//Grid Sistem
$xs: 576px;
$sm: 768px;
$md: 960px;
$xl: 1600px;
$width_work_box_desctop: 1602px;
$width_work_box_desctop_small: 900px;
$menu_desctop_height: 80px;
$menu_mobile_height: 70px;
$icon-medium-width: 115px;
$padding__classic__box: 75px 0;
$footer__padding: 25px 15px 25px;
$magin__bottom__classic__box: 60px;
$border__radius__classic__box: 30px;
$border__radius__classic__button: 30px;
$border__radius_classic__box__mini: 5px;
