//COLORS
$color__dark: #4B4B4B;
$color__medium: #838383;
$color__light: #E8E8E8;
$color__primary: #002550;
$color__primary__dark: #002E5C;
$color__secondary: #0289D7;
$color__secondary_dark: #0972af;
$color__secondary__light: #0289D721;
$color__third: #01958C;
$color__third__dark: #12816D;
$color__danger: #FF0303;
$color__danger__dark: #670013;
$color__success: #43D854;
$color__success: #3eaf64;
$color__success__dark: #397E04;
$color__text__main: #0A3560;
$color__text__gray: #8F8F8F;
$color__text__light: #ECECEC;
$color__text__dark: #333333;
//SHADOWS
$box__shadow__main: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
$buttons__shadow__main: 0px 4px 5px rgba(81, 81, 81, 0.15);
$background__modal__window: rgba(55, 55, 55, 0.8);