.rf-container {
    width: $width_work_box_desctop;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.rf-container-small {
    width: $width_work_box_desctop_small;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

@media screen and (max-width: $xl) {
    .rf-container {
        max-width: calc(100% - 30px);
    }
}

.rf_container_parent{
    width: $width_work_box_desctop !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    @media screen and (max-width: $xl) {
        max-width: calc(100% - 30px)  !important;
    }
    @media screen and (max-width: $sm) {
        margin-left:0 !important;
        margin-right: 0 !important;
        max-width: 100% !important;
    }
}
