$h1__size: 40px;
$h1__size__line__height: 50px;
$h2__size: 32px;
$h2__size__line__height: 40px;
$h3__size: 24px;
$h3__size__line__height: 30px;
$h4__size: 20px;
$h4__size__line__height: 26px;
$h5__size: 18px;
$h5__size__line__height: 24px;
$h6__size: 16px;
$h6__size__line__height: 22px;

$text__size__button: 22px;
$text__size__button__small: 13px;

$text_size_main: 16px;
$text_size_main_height: 26px;

$text_size_micro: 12px;
$text_size_micro_height: 16px;


